.navbar {
  color: #fff;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
  transition: background-color 800ms ease-in-out;

  &.scrolled {
    background-color: var(--main-color);
    transition: background-color 500ms ease-in-out;
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 40px;
        margin-right: 50px;
      }

      span {
        margin-right: 60px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      img {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .icon {
        margin: 0 25px;
        cursor: pointer;
      }

      .profile {
        .arrowIcon:hover {
          transform: rotate(180deg);
          transition: 200ms linear;
        }

        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
